@page
@model ProyectoCiclo3.App.Frontend.Pages.FormEncomiendaModel
@{
}
<div class="text-center">
  <form method="post">
    <label for="descripcion" class="form-label">Descripci贸n:</label>
    <input type="text" class="form-control" id="descripcion" placeholder="Descripci贸n" asp-for="Encomienda.descripcion" required>

    <label for="peso" class="form-label">Peso (en gramos):</label>
    <input type="number" class="form-control" id="peso" placeholder="Peso" asp-for="Encomienda.peso" required>

    <label for="tipo" class="form-label">Tipo:</label>
    <input type="text" class="form-control" id="tipo" placeholder="Tipo" asp-for="Encomienda.tipo" required>

    <label for="presentacion" class="form-label">Presentaci贸n:</label>
    <input type="text" class="form-control" id="presentacion" placeholder="Presentaci贸n" asp-for="Encomienda.presentacion" required>
    <hr>
    <button type="submit" class="btn btn-success">Enviar</button>
  </form>
  </div>