@page
@{
}
 
<div class="text-center">
<form action="">
  <label for="descripcion" class="form-label">Descripci贸n:</label>
  <input type="text" class="form-control" id="descripcion" name="descripcion" placeholder="Descripci贸n">
  <label for="peso" class="form-label">Peso:</label>
  <input type="number" class="form-control" id="peso" name="peso" placeholder="Peso">
  <label for="tipo" class="form-label">Tipo:</label>
  <input type="text" class="form-control" id="tipo" name="tipo" placeholder="Tipo">
  <label for="presentacion" class="form-label">Presentaci贸n:</label>
  <input type="text" class="form-control" id="presentacion" name="presentacion" placeholder="Presentaci贸n">
  <hr>
  <button type="submit" class="btn btn-success">Enviar</button>
</form>
</div>