@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <img style="height: 430px" alt="Responsive image" class="img-fluid" src="https://crehana-blog.imgix.net/media/filer_public/e1/41/e1413f73-98a1-42cf-b0f0-0d8075d0fcad/amazon-gif-squad.gif">
    </div>
